.footer{
    background-color: #403739;
}

.pietxt{
    font-size: 0.9rem;
    padding: 1rem 0rem 0.4rem 0rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: gray;
}

.pie{
    padding-bottom: 1rem;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}