.encabezado{
    background-color: #f1ccc4;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;

    @media (max-width:990px){
            justify-content: space-around;
        }

        @media (max-width:450px){
            position: initial;
            justify-content: center; 
        }
        
    .logo{
        width: 9rem;
        margin-right: 1.5rem;

        transition: 0.6s;

        &:hover{
            transform: scale(1.05);
        }

        @media (max-width:450px){
            width: 7.5rem;
        }
    }

    .navegacion{
        background-color: #f1ccc4;
        padding: 0rem;

        .menu{
            background-color: #f1ccc4;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .menuItem{
                font-family: 'Nunito', sans-serif;
                padding: 0rem 1.5rem;
                font-size: 1.1rem;

                transition: 0.6s;

                &:hover{
                    transform: scale(1.10);
                    opacity: 100%;
                    color: black;
                }
            }
        }
    }
}








