.inPic {
    background-color: #F5EAE9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding-block: 1.5rem;

    .inIzq {
      flex: 1;
      margin: 3rem;

      .inTitle {
        color: #ba7f7a;
        font-family: "Lobster Two";
        font-size: 3.5rem;
        text-align: center;
      }
      
      .inFr {
        color: #403739;
        text-align: center;
        font-family: "Urbanist", sans-serif;
        margin-top: 1rem;
        font-size: 1.25rem;
        padding-inline: 2rem;
      }
      
      .inTxt {
        font-family: "Nunito", sans-serif;
        margin-top: 0.9rem;
        font-size: 1.1rem;
        padding-inline: 2rem;
        text-indent: 1rem;
      }
    }
    .parriUno {
      flex: 2;
      margin: 2rem 1rem;
      width: 60rem;
      border-radius: 30px;
    }
  }
  
  
  
  