@media (max-width:455px){
    .fueguito:before{
        content: ' ';
        position: absolute;
        left: 0;   top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.35;
        background-image: url("../img/fueguito.jpeg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
}